

  * { font-family: 'Inter', sans-serif; }


.perspective {
  perspective: 1000px;
}
.flip-card-inner {
  transform-style: preserve-3d;
}
.flip-card-front,
.flip-card-back {
  backface-visibility: hidden;
  position: relative;
}
.flip-card-back {
  transform: rotateY(180deg);
}
.flip-card-inner.flipped {
  transform: rotateY(180deg);
}

